@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .room-img-tail {
    @apply  cursor-pointer mt-[15px] flex p-[15px] rounded-full items-center justify-center bg-gradient-to-r from-blue-600 to-fuchsia-500 text-white before:content-[''] before:w-[10px] before:h-[10px] before:bg-white before:fixed before:-left-[5px] before:rounded-full before:hover:h-[20px] active:before:h-[50px] active:rounded-[18px]
  }

  .status-bg {
    @apply absolute hidden cursor-pointer w-full h-full bg-black/50 items-center justify-center top-0 rounded-full text-[10px] text-white font-bold
  }

  .dropdown-menu {
    @apply absolute z-50 rounded-lg flex flex-col w-[280px]
  }
  .dropdown-menu-opened {
   @apply  translate-y-[-70%] transition-[transform] duration-[400ms] ease-out
  }
  .dropdown-menu-closed {
    @apply translate-y-[200px] transition-[transform] duration-[400ms] 
  }
}

.room-img, .room-img::before {
  transition: all linear 0.1s;
}

.room-img:hover{
  border-radius: 18px;
}

.status-dropdown:hover .status-bg{
display: flex;
}


.statusButton:hover .statusMenu{
 display:flex;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin:0;
  padding:0;
  position: relative;
}
html, body {
  height: 100%;
}
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  scroll-behavior:smooth ;  
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}