@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./landing.css');
@import url('./forms.css');
@import url('./dashboard.css');
@import url('./sidebar.css');
@import url('./roomMembers.css');

@layer components {
  .button {
    @apply text-center font-medium bg-white rounded-full hover:text-buttonHover cursor-pointer py-2 px-8 hover:shadow-button transition ease-in-out duration-200
  } 
  .button-blue {
    @apply button bg-black text-white hover:text-white 
  }
  .status-bg {
    @apply absolute hidden cursor-pointer w-full h-full bg-black/50 items-center justify-center top-0 rounded-full text-[10px] text-white font-bold
  }
  .dropdown-menu {
    @apply translate-x-[40%]  absolute z-50 rounded-lg flex flex-col w-[280px]
  }
  .dropdown-menu-opened {
   @apply  translate-y-[-70%]  transition-[transform] duration-[400ms] ease-out
  }
  .dropdown-menu-closed {
    @apply translate-y-[200px] transition-[transform] duration-[400ms] 
  }
  .submit-button {
    @apply border-[2px] border-white p-[7px] rounded-lg
  }
  .error {
    @apply text-[12px] text-red-500 mb-[10px] w-full break-words
  }
  .message {
    @apply flex items-center p-[10px] md:pl-[20px]
  }
  .message-options-div {
    @apply hidden left-0 absolute bg-black/10 w-full h-full 
  }
  .message-options {
    @apply absolute top-[0] right-0 border-[1px] border-[veryDarkGrey] flex items-center rounded-md bg-veryDarkGrey/80
  }
  .message-hovered {
    @apply bg-black/10 message
  }
  .icons > * {
    @apply p-[5px] hover:bg-white/10 cursor-pointer
  }
  .icons:hover {
    @apply shadow-md shadow-black
  }
  .edit-tooltip {
    @apply hidden absolute p-[5px] px-[10px] bg-black text-white/90 top-[-25px] left-[50%] translate-x-[-50%] rounded-lg whitespace-nowrap text-[12px]
  }

  .emoji {
    @apply mr-[5px] mb-[2px] flex text-white/60 cursor-pointer first-of-type:ml-0 p-[5px] bg-veryDarkGrey/70 rounded-md border-[1px] border-transparent hover:border-[1px] hover:border-white/40 transition-all
  }
  .emoji-reacted {
    @apply emoji border-blue-500 hover:border-red-500 opacity-90
  }

  .navigation {
    @apply bg-grey flex absolute z-10 justify-between w-full p-[20px] md:pr-[95px] md:pl-[30px]
  }

  .popup-background {
    @apply fixed top-0 left-0 w-[100vw] h-[100vh] bg-black/60 z-[50] md:!hidden
  }
}
.edit:hover .edit-tooltip {
  display: block;
}
.message:hover .message-options-div{
  display: flex;
}

.status-dropdown:hover .status-bg{
display: flex;
}
.statusButton:hover .statusMenu{
 display:flex;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin:0;
  padding:0;
  position: relative;
}
html, body {
  height: 100%;
}
body {
  @apply bg-black
}
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  scroll-behavior:smooth ;  
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: rgb(66, 67, 68);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(30, 31, 32);
  border-radius: 20px;
}